@charset "UTF-8";

html,
[data-theme=light] {
  --diagonal: initial;
  --black: #000;
  --white: #fff;
  --green: #2ECC40;
  --blue: #0074D8;
  --red: #FF4132;
  --orange: #FF851A;
  --yellow: #ffcd36;
  --primary: var(--blue);
  --accent: #E3F2FD;
  --active: #ECEFF1;
  --txt: #14191f;
  --txt-r: var(--white);
  --bg: #ffffff;
  --bg2: #f9fafb;
  --bg3: #edf0f2;
  --brd: var(--bg3);
  --brd2: #a8afb6;
  --bg-nav: var(--bg);
  --bg-nav-hover: var(--bg2);
  --bb-nav: var(--primary);
  --bg-input: var(--bg2);
  --brd-input: var(--bg2);
  --bg-btn: var(--primary);
  --bg-btn-hover: inset 0 0 100px 100px #ffffff20;
  --txt-btn: var(--white);
  --brd-btn: var(--primary);
  --bg-card: var(--bg);
  --bg-details: var(--bg2);
  --bg-details-open: var(--primary);
  --txt-details-open: var(--txt-r);
  --bg-aside: transparent;
  --shadow-aside: none;
  --bg-tabs: var(--bg);
  --brd-tabs-l: var(--primary);
  --brd-tabs: var(--bg2);
  --bg-table: var(--bg);
  --fake-brd-table: inset 0 0px 0px 1px rgb(0 0 0 / 16%);
  --bg-table-hover: var(--bg3);
  --brd-table: var(--bg3);
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --radius: .4rem;
}

[data-theme=dark] {
  --black: #060609;
  --white: #f2f4f7;
  --blue: #4dacff;
  --green: #67e5a8;
  --red: #ff564d;
  --orange: #ff9f4d;
  --yellow: #ffd24d;
  --txt: #f2f4f7;
  --txt-r: #14191f;
  --bg3: #2c3844;
  --bg2: #242e37;
  --bg: #14191f;
  --bg-nav: var(--bg);
  --bg-nav-hover: var(--bg2);
  --bg-form: var(--bg2);
  --bg-btn: var(--primary);
  --bg-btn-hover: inset 0 0 100px 100px #00000033;
  --brd-btn: var(--primary);
  --txt-btn: var(--black);
  --bg-card: var(--bg3);
  --bg-details: var(--bg2);
  --bg-details2: var(--bg3);
  --shadow: none;
}

[data-theme=light] .light-icon,
[data-theme=dark] .dark-icon {
  display: block !important;
}

.theme-icon {
  display: none;
}

/* ---------------- Basic resets and improvements --------------- */
*,
*:after,
*:before {
  box-sizing: border-box;
  border-spacing: 0;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 13pt;
  scroll-behavior: smooth;
  color: var(--txt);
  background: var(--bg);
}

body,
html {
  margin: 0;
  padding: 0;
}


body {
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

hr {
  border: 0;
  border-top: 2px solid var(--brd);
}

section {
  overflow-x: hidden;
  padding: 0 1rem 1rem;
  text-align: center;
}

/* ------------ Animation On Scroll ----------- */
[class*=_aos],
._aos {
  opacity: 0;
  transition: opacity 1s, transform 1.3s;
}

._aos-zoom {
  transform: scale(0.4);
}

._aos-left {
  transform: translate3d(-100px, 0, 0);
}

._aos-right {
  transform: translate3d(100px, 0, 0);
}

._aos-top {
  transform: translate3d(0, -100px, 0);
}

._aos-bottom {
  transform: translate3d(0, 100px, 0);
}

._aos-done {
  opacity: 1;
  transform: translateZ(0) scale(1);
}

/* ------------------ Heading ----------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p {
  margin-bottom: 1.5rem;
}

p strong,
p b {
  color: var(--txt);
}

h1+h2,
h2+h3,
h3+h4,
h4+h5,
h5+h6 {
  margin: 0;
}

/* ------------------- Links ------------------ */
a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

a:not([class*=btn]) {
  border-bottom: 2px solid transparent;
}

a:not([class*=btn]):hover {
  border-bottom: 2px solid currentColor;
}

/* ------------------ Navbar ------------------ */
header {
  width: 100%;
  z-index: 10;
  padding: 0.5rem;
}

header.fixed {
  position: fixed;
  bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-nav);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 0.4rem 0.5rem;
  width: 100%;
  margin: auto;
  max-width: 60rem;
}

nav * {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav>button {
  display: none;
  margin: 0 !important;
  min-width: auto;
  font-size: 0.875em;
  padding: 0.6rem;
}

nav>button>svg line {
  stroke: currentColor;
  stroke-width: 4;
  stroke-linecap: round;
  transform-origin: 12px 12px;
  transition: all 0.4s;
}

nav>a {
  gap: 0.5rem;
  font-size: 1.7rem;
}

nav>a>svg {
  height: 2.6rem !important;
  width: 2.6rem !important;
}

nav a:hover {
  border: none !important;
}

nav>ul {
  justify-content: space-between;
  list-style: none;
  width: auto;
  gap: 0.5rem;
}

nav>ul>li {
  gap: 0.5rem;
  background: var(--bg2);
  border-radius: var(--radius);
}

nav>ul>li>a,
nav>ul>li .nav-item {
  padding: 0.6rem;
  border-radius: var(--radius);
  color: var(--txt);
  width: 100%;
}

nav>ul>li>a:hover,
nav>ul>li>a.active,
nav>ul>li .nav-item:hover,
nav>ul>li .nav-item.active {
  color: var(--primary);
  background: var(--bg-nav-hover);
}

@media only screen and (max-width: 768px) {
  nav>ul {
    position: fixed;
    bottom: 5rem;
    padding: 0.5rem;
    right: -100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--bg-nav);
    width: calc(100% - 1rem);
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: var(--shadow);
  }

  nav>button {
    display: block;
    cursor: pointer;
  }

  nav.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.6);
    z-index: -1;
  }

  nav.active>ul {
    right: 0.5rem;
  }

  nav.active>button svg line:nth-child(1) {
    opacity: 0;
    transform: translateY(-100%);
  }

  nav.active>button svg line:nth-child(4) {
    opacity: 0;
    transform: translateY(100%);
  }

  nav.active>button svg line:nth-child(2) {
    transform: rotate(45deg);
  }

  nav.active>button svg line:nth-child(3) {
    transform: rotate(-45deg);
  }
}

/* ------------------ Header ------------------ */
header+.hero {
  margin-top: 4rem;
}

.hero {
  padding: 2rem 1rem;
  text-align: center;
  border-radius: var(--radius);
}

/* ------- Main container and .cnt class ------ */
.cnt,
main {
  margin: auto;
  width: 100%;
  max-width: 60rem;
  padding: 0.5rem;
  padding-bottom: 4rem;
}

.cnt.full,
main.full {
  max-width: auto;
}

/* ----------- Grid columns and row ----------- */
.grid {
  flex-wrap: wrap;
}

.row,
.grid {
  display: flex;
  align-items: stretch;
  margin: 1rem 0 0 0;
}

.row>[class*=col],
.row>div,
.grid>[class*=col],
.grid>div {
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}

.row>[class*=col]>*,
.row>div>*,
.grid>[class*=col]>*,
.grid>div>* {
  margin: 0;
}

.row .col,
.row>div,
.grid .col,
.grid>div {
  flex: 1 1 100%;
}

.row .col-2,
.grid .col-2 {
  width: calc((100%) / (12/2));
}

.row .col-3,
.grid .col-3 {
  width: calc((100%) / (12/3));
}

.row .col-4,
.grid .col-4 {
  width: calc((100%) / (12/4));
}

.row .col-6,
.grid .col-6 {
  width: calc((100%) / (12/6));
}

.row .col-8,
.grid .col-8 {
  width: calc((100%) / (12/8));
}

.row .col-9,
.grid .col-9 {
  width: calc((100%) / (12/9));
}

.row .col-10,
.grid .col-10 {
  width: calc((100%) / (12/10));
}

@media (max-width: 40em) {

  .row:not(.keep-width),
  .grid:not(.keep-width) {
    flex-direction: column !important;
  }

  .row:not(.keep-width)>[class*=col],
  .row:not(.keep-width)>div,
  .grid:not(.keep-width)>[class*=col],
  .grid:not(.keep-width)>div {
    width: auto;
  }
}

/* ------------------ Footer ------------------ */
footer {
  text-align: center;
  padding: 4rem 0;
}

/* ------------------ Buttons ----------------- */
button,
[class^=btn] {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 0px;
  color: var(--txt-btn);
  background-color: var(--bg-btn);
  outline: none;
  padding: 0.6rem;
  font-size: inherit;
  cursor: pointer;
  border-radius: var(--radius);
  margin: 0.5rem;
  height: 2.6rem;
  min-width: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

button:focus,
[class^=btn]:focus {
  outline: none;
}

button.mw-auto,
[class^=btn].mw-auto {
  min-width: unset;
}

button[disabled],
[class^=btn][disabled] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

button:not([disabled]):hover,
[class^=btn]:not([disabled]):hover {
  box-shadow: var(--bg-btn-hover);
}

button.ghost,
[class^=btn].ghost {
  background: transparent;
  color: var(--txt);
  border: 2px solid var(--bg-btn);
}

button.ghost:hover,
[class^=btn].ghost:hover {
  background: var(--bg-btn);
  color: var(--txt-btn) !important;
  box-shadow: none;
}

button>svg,
[class^=btn]>svg {
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  fill: currentColor;
  max-height: 1.7rem;
}

.btn-transparent {
  --bg-btn: transparent;
  --txt-btn: var(--txt-r);
}

.btn-cl2 {
  --bg-btn: var(--txt-r);
  --txt-btn: var(--txt);
}

.btn-bg2 {
  --bg-btn: var(--bg2);
  --txt-btn: var(--txt);
}

.btn-black {
  --bg-btn: var(--black);
  --txt-btn: var(--white);
}

.btn-white {
  --bg-btn: var(--white);
  --txt-btn: var(--black);
}

.btn-blue {
  --bg-btn: var(--blue);
  --txt-btn: var(--txt-r);
}

.btn-red {
  --bg-btn: var(--red);
  --txt-btn: var(--txt);
}

.btn-green {
  --bg-btn: var(--green);
  --txt-btn: var(--black);
}

.btn-orange {
  --bg-btn: var(--orange);
  --txt-btn: var(--black);
}

.btn-yellow {
  --bg-btn: var(--yellow);
  --txt-btn: var(--black);
}


/* ------------------- Modal ------------------ */
.modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  transition: all 0.3s ease-in;
  z-index: -1;
}

.modal>div {
  border-radius: 0.3em;
  margin: auto;
  padding: 0.8em;
  overflow: hidden;
  opacity: 0;
  background: var(--bg);
  transform: scale(0.9);
  transition: all 0.3s ease-out;
}

.modal>div>div {
  max-width: 500px;
}

.modal>div>footer {
  text-align: end;
  padding: 0;
}

.modal>div>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal>div>header>* {
  margin: 0;
}

.modal._show-modal {
  visibility: visible;
  opacity: 1;
  z-index: 200;
}

.modal._show-modal>div {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease-in;
}

/* ---------------- Go Top Link --------------- */
.gt-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  min-width: unset;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}

.gt-link.hidden {
  visibility: hidden;
  opacity: 0;
}

/* ------------------- Tabs ------------------- */
.tabs {
  display: flex;
  flex-wrap: wrap;
  background: var(--bg-tabs);
  box-shadow: var(--shadow);
  border: 2px solid var(--brd-tabs);
  border-radius: var(--radius);
  margin-bottom: 0.5rem;
}

.tabs>label {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1rem;
  margin-right: 0.2rem;
  cursor: pointer;
  border-bottom: 0.2rem solid transparent;
  font-weight: bold;
  transition: background ease 0.2s;
}

.tabs>div {
  width: 100%;
  display: none;
  padding: 1rem;
  order: 99;
  border-radius: var(--radius);
  flex-grow: 1;
}

.tabs>div>* {
  margin: 0.4rem;
}

.tabs>input {
  display: none;
}

.tabs>input:checked+label.ghost {
  background: var(--bg-btn) !important;
  color: var(--txt-btn) !important;
  border-color: var(--bg-btn) !important;
}

.tabs>input:checked+label {
  border-color: var(--brd-tabs-l);
}

.tabs>input:checked+label+div {
  display: block;
}

.pages>* {
  display: none;
}

.pages>.page-active {
  display: block;
}

/* ------------------- Card ------------------- */
.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  background: var(--bg-card);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: all .4s ease-out;
}

.card>* {
  width: 100%;
  margin: 0;
}

.card>img {
  height: 100px;
  border-radius: var(--radius);
  width: 100%;
  object-fit: cover;
}

.card>img.full {
  width: calc(100% + 2rem);
  max-width: unset;
}

.card>img.full {
  border-radius: var(--radius) var(--radius) 0 0;
  margin: -2rem -1rem 0 -1rem;
}

.card>img.full:last-child {
  border-radius: 0 0 var(--radius) var(--radius);
  margin: 0 -1rem -1rem -1rem;
}

/* ----------------- Sections ----------------- */
#home .card:hover {
  transform: translateY(10px);
}

#tris,#connect4,#memory {
  max-width: 380px;
  margin: auto;
}


.player1_score,.player2_score{
  font-size: 2rem;
  margin: 0;
}

#tris .tris_grid,
#connect4 .c4-grid,
#memory .memory-grid,
.winner {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#tris .tris_table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}
#tris .tris_table>div {
  background: var(--bg3);
  border-radius: 10px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



#c4_columns {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#c4_columns>div {
  height: 350px;
}

/* ----------------- Flip Card ---------------- */
.flip-card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  margin: auto;
}

.flip-card.active {
  transform: rotateY(-180deg);
}

#tris .flip-card,#connect4 .flip-card ,#memory .flip-card{
  max-width: 380px;
  height: 400px;
}


.winner {
  background-color: var(--bg3);
  color: var(--txt);
  transform: rotateY(180deg);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tris .winner .cross,
#tris .winner .circle {
  transform: scale(1.5);
}

#tris .cross {
  width: 55px;
  height: 55px;
}



#tris .cross,
#tris .circle {
  position: fixed;
  margin: auto;
  transition: all 0.2s ease;
  transform: scale(0);
}

#tris .cross:before,
#tris .cross:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 60px;
  width: 10px;
  border-radius: 5px;
  background-color: var(--blue);
}

#tris .cross:before {
  transform: rotate(45deg);
}

#tris .cross:after {
  transform: rotate(-45deg);
}

#tris .circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 9px solid var(--red);
}

#tris .cross.active,
#tris .circle.active {
  transform: scale(1);
}

#tris .score .cross,
#tris .score .circle {
  position: static;
  transform: scale(0.6);
}

#tris .strike {
  width: 0;
  height: 8px;
  position: absolute;
  border-radius: 50px;
  background-color: var(--green);
  transform-origin: left;
  transition: width 0.2s ease;
}

#tris .strike.active {
  width: var(--diagonal, 320px);
}



/* Turn  Header */
#c4_turn,
#tris_turn,#memory_bar {
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  background: var(--red);
  color: var(--txt-r);
  border-radius: var(--radius);
  padding: .5rem;
}
#tris_turn{
  background: var(--blue);
}

/* Connect 4 table */
#c4_table>div {
  position: relative;
  background: var(--bg3);
}

#c4_table>div::after {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: all 0.2s ease;
}
#connect4 .score .p1-disc,#connect4 .score .p2-disc{
  height: 35px;
  width: 35px;
  margin: .5rem auto .5rem auto;
  border-radius: 50%;

}
.p1-disc::after,#connect4 .score .p1-disc {
  transform: scale(1) !important;
  background: var(--red) !important;
}

.p2-disc::after,#connect4 .score .p2-disc {
  transform: scale(1) !important;
  background: var(--yellow) !important;
}

#c4_table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  border-bottom: 10px solid var(--blue);
  padding: 10px;
  width: 100%;
  height: 100%;
}

.memory_table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
}
.memory_table>div{
  position: relative;
  transform-style: preserve-3d;
  aspect-ratio: 1;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.memory_table>div span{
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 700ms ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.memory_table>div span:nth-child(1){
  background-color: var(--bg3);
}
.memory_table>div span:nth-child(2){
  background-color: var(--bg3);
  transform: rotateY(180deg);
}
.memory_table>div.open,.memory_table>div.show {
  pointer-events: none;
}
.memory_table>div.open span:nth-child(1),.memory_table>div.show span:nth-child(1){
  transform: rotateY(-180deg);
  background-color: transparent;
}
.memory_table>div.open span:nth-child(2),.memory_table>div.show span:nth-child(2){
  transform: rotateY(0);
  background: var(--blue);
  cursor: default;
  
}

.memory_table>div.match span:nth-child(2) {
  background: var(--green);
  -webkit-animation: jello-horizontal 1s both;
	animation: jello-horizontal 1s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


.memory_table>div.nomatch span:nth-child(2) {
  background: var(--red);
  -webkit-animation: wobble-hor-bottom 1s both;
	        animation: wobble-hor-bottom 1s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

.memory_table>div svg{
  height: 1.3rem;
  width: 1.3rem;
}

#c4_table>div {
  border-radius: 50%;
  aspect-ratio: 1;
}

#c4_winner,
#tris_winner {
  font-size: 18px;
}

/* ----------------- Utilities ---------------- */
._icon {
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  fill: currentColor;
}

._2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

._pu {
  position: unset !important;
}

#typewriter {
  font-family: monospace;
}
.badges{
  margin-top: -2rem;
  z-index: 10;
}
.badges>* {
  max-width: 100px;
  display: flex;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border-radius: var(--radius);
  background: var(--primary);
}
._180deg{
  transform: rotate(180deg);
}
/***************************************************
 * Generated by SVG Artista on 7/14/2021, 12:54:35 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg .svg-elem-1{stroke-dashoffset:542.0850219726562px;stroke-dasharray:542.0850219726562px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.8s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.8s}svg.active .svg-elem-1{stroke-dashoffset:0;fill:url("#prefix__b")}svg .svg-elem-2{stroke-dashoffset:179.4330291748047px;stroke-dasharray:179.4330291748047px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.12s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.9s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.12s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.9s}svg.active .svg-elem-2{stroke-dashoffset:0;fill:rgb(48,51,51)}svg .svg-elem-3{stroke-dashoffset:94.4792251586914px;stroke-dasharray:94.4792251586914px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.24s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.24s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1s}svg.active .svg-elem-3{stroke-dashoffset:0;fill:rgb(179,179,179)}svg .svg-elem-4{stroke-dashoffset:96.24777960769379px;stroke-dasharray:96.24777960769379px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.36s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.1s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.36s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.1s}svg.active .svg-elem-4{stroke-dashoffset:0;fill:rgb(255,0,0)}svg .svg-elem-5{stroke-dashoffset:73.8237075805664px;stroke-dasharray:73.8237075805664px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.48s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.2000000000000002s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.48s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.2000000000000002s}svg.active .svg-elem-5{stroke-dashoffset:0;fill:rgb(3,0,0)}svg .svg-elem-6{stroke-dashoffset:308.1100769042969px;stroke-dasharray:308.1100769042969px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.6s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.3s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.6s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.3s}svg.active .svg-elem-6{stroke-dashoffset:0;fill:rgb(255,251,254)}svg .svg-elem-7{stroke-dashoffset:62.461090087890625px;stroke-dasharray:62.461090087890625px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.72s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.4000000000000001s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.72s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.4000000000000001s}svg.active .svg-elem-7{stroke-dashoffset:0;fill:rgb(255,251,254)}svg .svg-elem-8{stroke-dashoffset:200.15234375px;stroke-dasharray:200.15234375px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.84s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.5s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.84s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.5s}svg.active .svg-elem-8{stroke-dashoffset:0;fill:rgb(0,0,14)}